h2 {
  font-size: 24px;
}

nav {
  display: none;
}

.logo {
  width: 200px;
}

footer {
  text-align: center;
  color: #666;
  background-color: white;
  margin-top: 10px;
}

footer i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

footer h4 {
  font-size: 15px;
  margin: 0px;
}

footer p {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 70%;
  
}

footer .fa-credit-card {
  margin-top: 10px;
}

.page-end {
  margin-bottom: 5px;
}

.burger-menu {
  width: 39px;
  margin: auto;
  margin-bottom: 5px;
}

.burger-menu i {
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding: 7px;
  color: white;
  background-color: #1259c3;
  border-radius: 5px;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product {
  margin-bottom: 30px;
}

.product .product-content {
  background-color: white;
  border-top: solid 1px #ebebeb;
  padding: 15px;
}

.product .product-content .price {
  width: 30%;
  font-size: 18px;
}

.product .product-content .discount {
  width: 70%;
  font-size: 16px;
  color: #39b54a;
}

.product .product-content .product-description {
  font-size: 16px;
}

.centered {
  text-align: center;
}

.fa-truck {
  color: #39b54a;
}

main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  }

.product-description {
  display: none;
}

.main-header-text {
  font-size: 1.4em;
}

@media (min-width: 361px) {
  .main-navbar {
    display: flex;
    justify-content: space-around;
  }

  .main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 3px 0;
    font-size: 17px;
  }

  .burger-menu {
    display: none;
  }

  .product-description {
    display: block;
  }
  
.product-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

  .product {
    width: 46%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}

@media (min-width: 769px) {
  .product {
    width: 23%;
  }

  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar li {
    margin: 0 8px;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 300px;
  }

  .main-header-top-bar, .main-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .main-navbar li {
    margin: 0 15px;
  }

  .main-navbar a {
    font-size: 20px;
  }

  .main-header-text {
    font-size: 20px;
  }
}