* {
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

header {
  background-color: #EAC926;
}

main {
  margin: auto;
  width: 90vw
}